/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Jul-2018, 2:49:53 PM
*/
            .modal-body::-webkit-scrollbar {
                width: 0px;
                height: 0px;               
            }
            html{
                -ms-overflow-style: none;
            }
            body{
                background-color: rgb(35,36,38);
            }
            table{
                width:100%;       
            }
            th, td {
                padding: 4px; 
                padding-left: 10px;
                padding-right: 10px;
                max-width: 0px;
                text-align: left;
                background-color: #f2f2f2;
                font-family: verdana;
                font-size: 12px;
                color: #c9dee0;
                background-color: grey;  
            }
            caption{
                padding-left: 5px;
                font-size: 15px; 
                margin-bottom: 0%;
                font-family: sans-serif;//verdana;
                color: white;//#00ff6a;
                background-color: #232426;
                font-weight: bold;
            }
            p{
                //margin-top: 0%;
                margin-bottom: 0%;
            }
            #playerphoto{
                margin-top: 2%;
            }
            #mobile_header{
                display: none;
            }
            #stats_table{
                border: transparent;
                border-radius: 10px;
                border-top-left-radius: 0px;
            }
            #footer{
                padding: 0px;
                position: relative;
            }
            #draft_button{
                margin-top: 2vh;
                margin-bottom: -1vh;
                float: right;
                padding: 8px;
                border:0;
                border-radius: 5px;
                background-color: #00ff6a;
                color: white;
                font-size: 1.2vw; 
                font-family: sans-serif;
                font-weight: bold;
            }
            #newsfeed{
                display: none;
                padding: 0px;
                //border: 1px solid yellow;
                //font-size: 5px;
            }
            #link{
                font-family: verdana;
                color: #00ff6a;
                background-color: #232426;
                font-size: 15px;
                font-weight: bold; 
            }
            #player_name, #mobile_playername{
                font-size: 2.2vw;
                font-family: sans-serif;//Arial;
                color: white;//#00ff6a;
                white-space: nowrap;
            }
            #tableinfo{
                display: none;
                border: 0;
            }
            #listinfo{
                font-size: 1.1vw;
                text-align: left;
                font-family: sans-serif;
                color: white;//#00ff6a;
            }
            #frame{
                position: relative;
                overflow: hidden;
            }
            #headshot_frame{
                z-index: 2;
                position: relative;
            }
            #logo_frame{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0.5vw;
                left: 1vw;
                z-index: 1;
            }
            #spot_frame{
                width: 100%;
                height: 100%;
                opacity: 0.9;
                position:absolute;
                top: -2%;   
            }
            #underline{
                margin-bottom: 2%;
            }
            .tab{
                border: 1px solid white;
                border-bottom: transparent;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                background-color: #232426;
                color: white;
                font-size: 1.2vw; 
                font-family: sans-serif;
                font-weight: bold;
            }
            
            .modal-body{
                max-height: 410px;
                overflow: scroll;
                padding: 0px;
            }
            .seperator{
                width: 100%;
                //padding-top: 5px;
                margin-top: 0%;
                opacity: .3;
                //color: orange;
            }
            .stat_category{
                font-weight: bold;
            }
            .table_header{
                font-family: sans-serif;//verdana;
                color: #00ff6a;
                background-color: #232426;
                font-size: 15px;
                font-weight: bold;
            }

            .modal {
                display: none; /* Hidden by default */
                position: absolute;
                z-index: 1; /* Sit on top */
                padding-top: 60px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.3); /* Black w/ opacity */ 
                
            }
            /* Modal Content */
            .modal-content {
                background-color: rgb(55,56,57);//rgb(35,36,38);
                margin: auto;
                padding: 20px;
                width: 60%;
                border: 5px solid rgb(220,222,224);//#5ea600;
                border-radius: 15px;
                max-height: 510px;
                overflow: auto; 
            }
            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 25px;
                font-weight: lighter;
            }
            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            } 
            
            @media screen and (max-width: 767px) {
                #header{
                    display: none;
                }
                #mobile_header{
                    display: inline;
                }
                #mobile_playername{
                    font-size: 8vw;
                    text-align: center;
                }
                #season_stats_table, #career_stats_table, #prev_games_table{
                    width: 150%;
                }
                caption{
                    font-size: 4vw;
                    padding-left: 5px;
                }
                th,td{
                    font-size: 3vw;
                }
                .modal{
                    padding-top: 20px;
                }
                .modal-content {
                    width: 90%;
                    border: 5px solid white;//#5ea600;
                    //height: 100vh;
                }
                .container-fluid{
                    padding: 0px;
                    //display: flex;
                    //align-items: center;
                    //justify-content: center;
                }
                .table_header{
                    font-size:4vw;
                    text-align: center;
                    color: white;
                }
                .seperator{
                    width: 100%;
                }
                .tab{
                    font-size: 3vw;
                }
                #draft_button{
                    font-size: 3vw;
                }
                #opponent{
                    font-size: 2vw;
                }
                #tableinfo{
                    display: inherit;
                    border: transparent;
                    border-radius: 10px;
                    //white-space: nowrap;
                }    
                #player_name{
                    font-size: 8vw;
                    text-align: center;
                    //overflow:  hidden;
                }

                #listinfo{
                    font-size: 1.5vw;
                    font-weight: bold;
                    display: none;
                }
                #playerphoto{
                    margin-bottom: 5%;
                    //padding: 0px;
                }
                #team_table, #pos_table, #height_table, #weight_table, #born_table{
                    font-size: 4vw;
                    text-align: center;
                }
                #logo_frame{
                    left: -12vw;
                }
            }
            @media screen and (max-width: 767px) and (min-width: 415px) {
                th,td{
                    font-size: 2vw;
                }
                #team_table, #pos_table, #height_table, #weight_table, #born_table{
                    font-size: 2vw;
                    text-align: center;
                }
                #draft_button{
                    font-size: 2vw;
                }
                .tab{
                    font-size: 2vw;
                }
                .table_header{
                    font-size:2vw;
                    text-align: center;
                }
                caption{
                    font-size: 2vw;
                    padding-left: 5px;
                }
                #player_name{
                    font-size: 5vw;
                }
                #mobile_playername{
                    font-size: 5vw;    
                }
                
            }
